@font-face {
    font-family: "Pacifico-Regular";
    src: 
        url("../fonts/Pacifico-Regular.woff2") format("woff2"), 
        url("../fonts/Pacifico-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Bold";
    src: 
        url("../fonts/Roboto-Bold.woff2") format("woff2"), 
        url("../fonts/Roboto-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Bold";
    src: 
        url("../fonts/Roboto-Bold.woff2") format("woff2"), 
        url("../fonts/Roboto-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
